In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("/content/kanji_kana_meaning.csv", header=None)
df.columns = ["kana", "hiragana", "meaning"]

In [15]:
df

     kana   hiragana                                            meaning
0       日          ひ  day; days; sun; sunshine; sunlight; case (esp....
1       一         いち  one; best; first; foremost; beginning; start; ...
2       大         おお                                         big; large
3       十   じゅう、とお、と                                                ten
4       二  に、ふた、ふ、ふう                                                two
...   ...        ...                                                ...
1302    繭         まゆ                                             cocoon
1303    釘         くぎ                      nail (i.e. small metal spike)
1304    狸    たぬき、タヌキ  tanuki (Nyctereutes procyonoides); raccoon dog...
1305    壬    じん、みずのえ    9th in rank; ninth sign of the Chinese calendar
1306    硯        すずり                                           inkstone

[1307 rows x 3 columns]

In [21]:
s = ""
for h in df["hiragana"]:
  h = h.split("、")
  s += h[0]

In [38]:
d = dict()

for j in list(s):
  if j in d.keys():
    d[j] = d[j] + 1
  else:
    d[j] = 1

d = sorted(d.items(), key=lambda x: x[1], reverse=True)

In [42]:
d[0][1]

176

In [44]:
temp = []
for i in d:
  temp.append([i[0], i[1] / d[0][1]])

In [47]:
print(temp)

[['い', 1.0], ['う', 0.8806818181818182], ['か', 0.8011363636363636], ['る', 0.75], ['ん', 0.7329545454545454], ['く', 0.6818181818181818], ['し', 0.6420454545454546], ['き', 0.5568181818181818], ['と', 0.5], ['た', 0.4772727272727273], ['こ', 0.4659090909090909], ['つ', 0.4602272727272727], ['さ', 0.4090909090909091], ['お', 0.4034090909090909], ['ま', 0.4034090909090909], ['り', 0.4034090909090909], ['は', 0.3352272727272727], ['み', 0.32954545454545453], ['ら', 0.29545454545454547], ['あ', 0.2897727272727273], ['ょ', 0.2840909090909091], ['な', 0.2840909090909091], ['ち', 0.2727272727272727], ['も', 0.2556818181818182], ['じ', 0.22727272727272727], ['わ', 0.22727272727272727], ['け', 0.20454545454545456], ['す', 0.20454545454545456], ['ひ', 0.19886363636363635], ['め', 0.1875], ['え', 0.1875], ['や', 0.1875], ['に', 0.16477272727272727], ['ゅ', 0.1590909090909091], ['ど', 0.1590909090909091], ['の', 0.1590909090909091], ['せ', 0.14772727272727273], ['ろ', 0.14204545454545456], ['そ', 0.14204545454545456], ['だ', 0.13636363636363635], ['ふ', 0.13068181818181818], ['ぎ', 0.125], ['よ', 0.125], ['む', 0.125], ['ね', 0.125], ['ご', 0.11931818181818182], ['ず', 0.11931818181818182], ['ば', 0.11931818181818182], ['ほ', 0.10795454545454546], ['れ', 0.10795454545454546], ['が', 0.10795454545454546], ['び', 0.10795454545454546], ['ゆ', 0.10795454545454546], ['て', 0.10227272727272728], ['ぼ', 0.09090909090909091], ['げ', 0.07954545454545454], ['ぶ', 0.07954545454545454], ['ゃ', 0.0625], ['ぜ', 0.05113636363636364], ['ぞ', 0.05113636363636364], ['ざ', 0.03409090909090909], ['へ', 0.03409090909090909], ['ぐ', 0.03409090909090909], ['べ', 0.03409090909090909], ['っ', 0.028409090909090908], ['ぬ', 0.028409090909090908], ['で', 0.028409090909090908], ['づ', 0.022727272727272728], ['ぱ', 0.005681818181818182]]

In [46]:
len(temp)

69